body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: GABRWFFR, Arial, serif;
  background-color: rgba(250, 188, 22, 0.7);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: "GABRWFFR";
  src: local("GABRWFFR"), url("./fonts/GABRWFFR.TTF") format("truetype");
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
